nav.navbar.navbar-inverse{
  background-color:#fff;
}

a{
  color:red;
}

nav.navbar.navbar-default{
  background-color:green;
}

ul.nav.nav-tabs{
}

button.btn.btn-default{
}

div.btn-group{
}

div.btn-group{
  background-color:#0099FF;
}

div.btn-group{
  color:#0099FF;
}

